@charset "utf-8";

.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
html,
body{
    height:100%;
}

body{
    background:url('../images/background.png') no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

header{
    width:100%;
    @include vw-convert-pc(height, 100);
    background:#fff;
    @media(max-width:$screen-sm){
        @include vw-convert-mo(height, 50);
    }
    h1{
        float:left;
        font-family:$galada;
        @include vw-convert-pc(padding, 0 50);
        @include vw-convert-pc(line-height, 100);
        @include vw-font-size-pc(48);
        @media(max-width:$screen-sm){
            @include vw-convert-mo(padding, 0 15);
            @include vw-convert-mo(line-height, 50);
            @include vw-font-size-mo(24);
        }
    }
}

section{
    position:relative;
    @include vw-convert-pc(margin-top, 70);
    @include vw-convert-pc(margin-bottom, 70);
    @media(max-width:$screen-sm){
        @include vw-convert-mo(margin-top, 20);
        @include vw-convert-mo(margin-bottom, 20);
    }
    .year{
        position:absolute;
        top:0;
        left:0;
        @include vw-convert-pc(width, 130);
        height:100%;
        text-align:center;
        @media(max-width:$screen-sm){
            @include vw-convert-mo(width, 50);
        }
    }
    .number{
        @include vw-font-size-pc(30);
        color:#fff;
        @media(max-width:$screen-sm){
            @include vw-font-size-mo(15);
        }
    }
    .dot{
        margin:0 auto;
        @include vw-convert-pc(width, 15);
        @include vw-convert-pc(height, 15);
        @include vw-convert-pc(border-radius, 15);
        @include vw-convert-pc(margin-top, 10);
        background-color:#fff;
        @media(max-width:$screen-sm){
            @include vw-convert-mo(width, 10);
            @include vw-convert-mo(height, 10);
            @include vw-convert-mo(border-radius, 10);
            @include vw-convert-mo(margin-top, 5);
        }
    }
    .line{
        position: absolute;
        @include vw-convert-pc(top, 0);
        @include vw-convert-pc(left, 65);
        @include vw-convert-pc(width, 1);
        height:100%;
        @include vw-convert-pc(padding-top, 57);
        @media(max-width:$screen-sm){
            @include vw-convert-mo(left, 25);
            @include vw-convert-mo(width, 1);
            @include vw-convert-mo(padding-top, 30);
        }
        .inner{
            width:100%;
            height:100%;
            background-color:#fff;
        }
    }
    .project{
        width:100%;
        @include vw-convert-pc(padding-left, 130);
        @include vw-convert-pc(padding-right, 50);
        @media(max-width:$screen-sm){
            @include vw-convert-mo(padding-left, 50);
            @include vw-convert-mo(padding-right, 20);
        }
        li{
            background-color:rgba(255,255,255,0.3);
            opacity:0.5;
            transition:opacity 0.5s ease;
            &:last-child{
                .title{
                    border-bottom:0;
                }
            }
            &:first-child{
                .title:before{
                    display:none;
                }
            }
            &.on{
                opacity:1;
            }
        }
        .title{
            position:relative;
            display:block;
            @include vw-convert-pc(padding, 0 50);
            border-bottom:1px solid #ccc;
            @include vw-convert-pc(line-height,100);
            background-color:#fff;
            color:#333;
            @media(max-width:$screen-sm){
                @include vw-convert-mo(padding, 10 20);
                line-height:1.4;
            }
            &:before{
                position:absolute;
                content:'';
                display:block;
                @include vw-convert-pc(width, 15);
                @include vw-convert-pc(height, 15);
                @include vw-convert-pc(border-radius, 15);
                @include vw-convert-pc(left, -72);
                @include vw-convert-pc(top, 42);
                background:#fff;
                @media(max-width:$screen-sm){
                    @include vw-convert-mo(width, 10);
                    @include vw-convert-mo(height, 10);
                    @include vw-convert-mo(border-radius, 10);
                    @include vw-convert-mo(left, -30);
                    top:50%;
                    @include vw-convert-mo(margin-top, -5);
                }
            }
        }
        .client{
            float:left;
            @include vw-font-size-pc(30);
            font-weight:500;
            @media(max-width:$screen-sm){
                display:block;
                width:100%;
                @include vw-font-size-mo(17);
                @include vw-convert-mo(padding-bottom, 5);
            }
        }
        .project_name{
            float:left;
            @include vw-convert-pc(padding-left, 55);
            @include vw-font-size-pc(26);
            @media(max-width:$screen-sm){
                padding-left:0;
                @include vw-font-size-mo(13);
            }
        }
        .detail{
            position:relative;
            @include vw-convert-pc(padding, 40 50);
            @media(max-width:$screen-sm){
                @include vw-convert-mo(padding, 20);
            }
            .link_thumb{
                position:absolute;
                display:block;
                @include vw-convert-pc(top, 40);
                @include vw-convert-pc(left, 50);
                @include vw-convert-pc(width, 570);
                @include vw-convert-pc(height, 325);
                transition:background-size 0.5s ease;
                background-size:100% 100%;
                background-position:center center;
                background-color:#fff;
                &:hover{
                    background-size:105% 105%;
                }
                @media(max-width:$screen-sm){
                    position:static;
                    width:100%;
                    @include vw-convert-mo(height,473);
                }                
            }
            .info{
                @include vw-font-size-pc(24);
                @include vw-convert-pc(padding-left, 610);
                @include vw-convert-pc(padding-bottom, 64);
                @include vw-convert-pc(min-height, 325);
                @media(max-width:$screen-sm){
                    @include vw-font-size-mo(12);
                    @include vw-convert-mo(padding-top, 10);
                    padding-left:0;
                    min-height:auto;
                }
                a{
                    color:DodgerBlue;
                    text-decoration:underline;
                }
            }
            .tech{
                position:absolute;
                @include vw-convert-pc(bottom, 40);
                @include vw-convert-pc(right, 50);
                i{
                    float:left;
                    @include vw-font-size-pc(64);
                    @include vw-convert-pc(padding-right, 15);
                    &:last-child{
                       padding-right:0; 
                    }
                }
            }
        }
    }
}

footer{
    width:100%;
    @include vw-convert-pc(height, 400);
}


