@charset "utf-8";

.clearfix:after{
    content:'';
    display:block;
    clear:both;
}

body{
    background:url('../images/background.png') no-repeat;
    background-size:cover;
    background-attachment:fixed;
    position:relative;
}

#conatiner{
    position:relative;
}

header{
    width:100%;
    @include vw-convert-pc(height, 100);
    background:#fff;
    @media(max-width:$screen-sm){
        @include vw-convert-mo(height, 50);
    }
    h1{
        float:left;
        font-family:$galada;
        @include vw-convert-pc(padding, 0 50);
        @include vw-convert-pc(line-height, 100);
        @include vw-font-size-pc(48);
        @media(max-width:$screen-sm){
            @include vw-convert-mo(padding, 0 15);
            @include vw-convert-mo(line-height, 50);
            @include vw-font-size-mo(24);
        }
    }
    .menu{
        float:left;
        @include vw-convert-pc(margin-left, 50);
        @media(max-width:$screen-sm){
            @include vw-convert-mo(margin-left, 25);
        }
        li{
            float:left;
            @include vw-convert-pc(height, 100);
            @include vw-convert-pc(margin-right, 30);
            @include vw-convert-pc(padding, 35 0);
            text-transform: uppercase;
            @media(max-width:$screen-sm){
                @include vw-convert-mo(height, 50);
                @include vw-convert-mo(margin-right, 15);
                @include vw-convert-mo(padding, 16 0);
            }
            &:last-child{
                margin-right:0;
            }
            &.active{
                a{
                    color:DodgerBlue;
                }
            }
            a{
                position:relative;
                display:block;
                @include vw-convert-pc(padding, 0 8);
                @include vw-font-size-pc(24);
                font-weight:500;
                color:#333;
                &:after{
                    position:absolute;
                    @include vw-convert-pc(bottom, -3);
                    left:0;
                    content:'';
                    display:block;
                    width:100%;
                    @include vw-convert-pc(height, 3);
                    background-color:DodgerBlue;
                    opacity:0;
                }
                &:hover:after{
                    opacity:1;
                }
                @media(max-width:$screen-sm){
                    @include vw-convert-mo(padding, 0 4);
                    @include vw-font-size-mo(14);
                    &:after{
                        display:none;
                    }
                }
            }
        }
    }
}

section{
    position:relative;
    @include vw-convert-pc(margin-top, 70);
    @include vw-convert-pc(margin-bottom, 70);
    &:last-child{
        margin-bottom:0;
    }
    @media(max-width:$screen-sm){
        @include vw-convert-mo(margin-top, 20);
        @include vw-convert-mo(margin-bottom, 20);
    }
    .year{
        position:absolute;
        top:0;
        left:0;
        @include vw-convert-pc(width, 130);
        height:100%;
        text-align:center;
        @media(max-width:$screen-sm){
            @include vw-convert-mo(width, 50);
        }
    }
    .number{
        @include vw-font-size-pc(30);
        color:#fff;
        @media(max-width:$screen-sm){
            @include vw-font-size-mo(15);
        }
    }
    .dot{
        margin:0 auto;
        @include vw-convert-pc(width, 15);
        @include vw-convert-pc(height, 15);
        @include vw-convert-pc(border-radius, 15);
        @include vw-convert-pc(margin-top, 10);
        background-color:#fff;
        @media(max-width:$screen-sm){
            @include vw-convert-mo(width, 10);
            @include vw-convert-mo(height, 10);
            @include vw-convert-mo(border-radius, 10);
            @include vw-convert-mo(margin-top, 5);
        }
    }
    .line{
        position: absolute;
        @include vw-convert-pc(top, 0);
        @include vw-convert-pc(left, 65);
        @include vw-convert-pc(width, 1);
        height:100%;
        @include vw-convert-pc(padding-top, 57);
        @media(max-width:$screen-sm){
            @include vw-convert-mo(left, 25);
            @include vw-convert-mo(width, 1);
            @include vw-convert-mo(padding-top, 30);
        }
        .inner{
            width:100%;
            height:100%;
            background-color:#fff;
        }
    }
    .project{
        width:100%;
        @include vw-convert-pc(padding-left, 130);
        @include vw-convert-pc(padding-right, 50);
        @media(max-width:$screen-sm){
            @include vw-convert-mo(padding-left, 50);
            @include vw-convert-mo(padding-right, 20);
        }
        > li{
            background-color:rgba(255,255,255,0.3);
            opacity:0.4;
            transition:opacity 0.5s ease;
            &:last-child{
                .title{
                    border-bottom:0;
                }
            }
            &:first-child{
                .title:before{
                    display:none;
                }
            }
            &.on{
                opacity:1;
            }
        }
        .title{
            position:relative;
            display:block;
            @include vw-convert-pc(padding, 0 50);
            border-bottom:1px solid #ccc;
            @include vw-convert-pc(line-height,100);
            background-color:#fff;
            color:#333;
            @media(max-width:$screen-sm){
                @include vw-convert-mo(padding, 10 20);
                line-height:1.4;
            }
            &:before{
                position:absolute;
                content:'';
                display:block;
                @include vw-convert-pc(width, 15);
                @include vw-convert-pc(height, 15);
                @include vw-convert-pc(border-radius, 15);
                @include vw-convert-pc(left, -72);
                @include vw-convert-pc(top, 42);
                background:#fff;
                @media(max-width:$screen-sm){
                    @include vw-convert-mo(width, 10);
                    @include vw-convert-mo(height, 10);
                    @include vw-convert-mo(border-radius, 10);
                    @include vw-convert-mo(left, -30);
                    top:50%;
                    @include vw-convert-mo(margin-top, -5);
                }
            }
        }
        .client{
            float:left;
            @include vw-font-size-pc(30);
            font-weight:500;
            font-family: $s-coreDream-black;
            @media(max-width:$screen-sm){
                display:block;
                width:100%;
                @include vw-font-size-mo(17);
                @include vw-convert-mo(padding-bottom, 5);
            }
        }
        .project_name{
            float:left;
            @include vw-convert-pc(padding-left, 55);
            @include vw-font-size-pc(26);
            font-family:$s-coreDream-bold;
            @media(max-width:$screen-sm){
                padding-left:0;
                @include vw-font-size-mo(13);
            }
        }
        .detail{
            @include vw-convert-pc(padding, 40 50);
            @media(max-width:$screen-sm){
                @include vw-convert-mo(padding, 20);
            }
            > .inner{
                position:relative;
            }
            .link_thumb{
                float:left;
                display:block;
                width:67%;
                background-size:100% 100%;
                background-position:center center;
                background-color:#fff;
                .img{
                    width:100%;
                    height:0;
                    padding-bottom:57%;
                    background-size:100% 100%;
                    background-position:center center;
                    background-color:#fff;
                    transition:background-size 0.5s ease;
                    &:hover{
                        background-size:105% 105%;
                    }
                }
                @media(max-width:$screen-sm){
                    width:100%;
                    .img{
                        padding-bottom:177%;
                    }
                }                
            }
            .info{
                position:relative;
                float:left;
                width:33%;
                height:100%;
                @include vw-font-size-pc(24);
                @include vw-convert-pc(padding-left, 30);
                @include vw-convert-pc(padding-bottom, 64);
                li{
                    line-height:1.6;
                    @include vw-convert-pc(padding-bottom, 15);
                }
                @media(max-width:$screen-sm){
                    width:100%;
                    @include vw-font-size-mo(12);
                    @include vw-convert-mo(padding-top, 10);
                    @include vw-convert-mo(padding-bottom, 5);
                    padding-left:0;
                }
                a{
                    color:DodgerBlue;
                    text-decoration:underline;
                }
            }
            .tech{
                position:absolute;
                right:0;
                bottom:0;
                i{
                    float:left;
                    color:#444;
                    @include vw-font-size-pc(52);
                    @include vw-convert-pc(padding-right, 15);
                    &:last-child{
                       padding-right:0; 
                    }
                }
                @media(max-width:$screen-sm){
                    position:static;
                    float:right;
                    i{
                        @include vw-font-size-mo(20);
                    }
                }
            }
        }
    }
}

.top_btn{
    position:fixed;
    bottom:0;
    @include vw-convert-pc(left, 45);
    font-weight:bold;
    line-height:1;
    color:#fff;
    @include vw-convert-pc(border-radius, 50);
    @include vw-font-size-pc(40);
}

footer{
    width:100%;
    @include vw-convert-pc(padding, 100 0 130);
    @include vw-font-size-pc(72);
    font-family:$galada;
    text-align:center;
}


